.card{
    transition:0.5s;
    min-height:300px;
}

.card:hover{
    transform:translateY(10px);
}

.card h2{
    text-transform:uppercase;
}

.card > div > a{
    transition:.3s;
}

.card > div > a:hover{
    transform:scale(0.9);
}